.header {
  display: flex;
  justify-content: space-between;
  height: 10%;
  .header-content{
    .show-routes-button{
      display: none;
    }
  }

  &:not(.current-page-is-root) {
    margin: 0 15%;
    ~ .normal {
      margin: 3% 15% 0;
    }
    .background-header {
      filter: brightness(.8) blur(10px);
      opacity: 1;
      transform: scale(1.1);
    }
    .header-content {
      flex-direction: row;
      width: 100%;
      .title {
        font-size: 45px;
      }
      .routes {
        margin-top: 12px;
        flex: .8;
        height: 50px;
        justify-content: space-between;
        transition: none;
      }
      .routerLink {
        font-size: 34px;
        padding-top: 10px;
        border-radius: 1px;
      }
    }
  }
}

.background-header {
  background-image: url(../../assets/kremlin_gray.jpg);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 2px;
  height: 100%;
  background-size: cover;
  z-index: -1;
  transition: transform 2s linear, opacity .8s ease, filter 2s linear;
  background-position-y: bottom;
  background-position-x: center;
  opacity: 0;
  background-repeat: no-repeat;
  transform: scale(1.2);
  &.trigger-animation {
    opacity: 1;
    transform: scale(0.9);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.3);
  }
  &.animation-triggered{
    ~ .header-content{
      transform: scale(1);
      opacity:1;
    }
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  transform: scale(0.7);
  transition: transform 2s linear, opacity 1s ease;
  opacity: 0;
}

.routes {
  margin-top: 0;
  margin-bottom: 0.67em;
  padding-top: 0;
  /* margin: 8% 0; */
  font-weight: bold;
  transition: color 450ms linear,opacity 450ms linear,border-color 450ms linear;
  display: flex;
  height: 60px;
  justify-content: space-around;
}

.routerLink {
  font-size: 50px;
  text-decoration: none;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  padding: 12px 27px 0;
  font-weight: 100;
  background: transparent;
  border: 1px solid transparent;
  /* border-right-width: 0; */
  border-radius: 2px;
  position: relative;
  opacity: 0.6;
  transition: all 450ms linear;

  &.routerLinkActive, &:hover {
    color: white;
    border-color: white;
    opacity: 1;
  }
}

.header.current-page-is-root {
  height: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  ~ .normal {
    min-height: 0;
    display: none;
  }
  .title {
    font-size: calc(18vw + 5vw);
    color: #ff4545;
    margin: 5% 0 0;
    text-shadow: 2px 2px #ffb2b2, 0 3px 44px rgba(255, 69, 69, 0.61);
  }
  //.routes {
  //  .routerLink {
  //    font-size: calc(3vw);
  //  }
  //}
}

.heart-icon {
  width: 54px;
  height: 54px;
  position: absolute;
  > svg {
    background: none;
  }
  &.him {
    left: 68%;
    top: 84%;
    transform: scale(1.2) rotate(15deg);
  }
  &.her {
    left: 53%;
    top: 84%;
    transform: scale(1.2) rotate(-15deg);
  }
}



@media screen and (max-width:1370px){
  .header:not(.current-page-is-root){
    .header-content{
      .routerLink{
        font-size: 25px;
        padding: 12px 16px 0;
      }
    }
  }
}
@media screen and (max-width:550px){
  .header{
    &:not(.current-page-is-root){
      margin: 0 2%;


      .header-content{
        .show-routes-button{
          display:block;
          width: 48px;
          height:48px;
          background-image: url(../../assets/menu-icon.svg);
          background-size: cover;
          position: absolute;
          right: 0;
          top: 20px;
          cursor: pointer;
          z-index: 2;
          ~ .routes{
            display: none;
          }
        }
      }


      &.menu-showed{
        height:100%;
        .header-content {
          flex-direction: column;
          .show-routes-button{
            background-image: url(../../assets/close-icon.svg);
            ~ .routes{
              display: flex;
              flex-direction: column;
              margin-top: 20%;
              width: 100%;
              .routerLink{
                padding-bottom: 10px;
              }
            }
          }
        }

        ~ .normal{
          display: none;
        }
      }
    }
    &.current-page-is-root{
        .routes{
          flex-direction: column;
          height: auto;
          width: 80%;
          margin: 0 auto;
          .routerLink{
            margin-bottom: 30px;
            padding: 10px 10px;
          }
        }
    }

    ~ .normal{
      margin: 3% 2% 0 !important;
    }
  }
}
