.header{
  display: flex;
  justify-content: space-between;
  height: 10%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 5% 10% 5%;
}
.title{
  margin: 0;
  text-shadow: 0 2px 13px rgba(0, 0, 0, 0.27);
}
.routes{
  font-weight: bold;
}

.routerLink{
  text-decoration: none;
  font-size: 1.4em;
  color: rgb(77, 77, 77);
  border: 1px solid rgb(77, 77, 77);
  padding: 1px 7px;
  &:not(:last-child) {
    border-right-color: rgba(0, 0, 0, 0);
  }
}
.routerLinkActive{
  color: rgb(245, 245, 245);
  background: rgb(77, 77, 77);
}

.header.current-page-is-root {
  height: 100%;
}

.header.current-page-is-root ~ .normal {
  min-height: 0;
  display: none;
}

.header.current-page-is-root {
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}

.header.current-page-is-root .title {
  font-size: calc(10vw + 10vh);
}

