

.normal {
  background: #fff;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.3);
}
.page-about-us{
  img {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.39);
  }
  .title{
    text-align: center;
    padding-top: 6%;
    padding-bottom: 5%;
    margin: 0;
    font-size: 4em;
    color: rgba(0, 0, 0, 0.74);
    span{
      position: relative;
      width: 170px;
      display: inline-flex;
      >*:nth-child(1) {
        left: -5%;
        top: -100%;
        svg{
          transform: rotate(-15deg);
        }
      }
      >*:nth-child(2) {
        right: 0;
        top: -50%;
        svg{
          transform: rotate(14deg);
        }
      }
      >*:nth-child(3) {
        right: 37%;
        top: -105%;
      }
    }
    .heart {
      position: absolute;
    }
  }

  p {
    padding: .5em 5%;
    margin: 0;
    font-size: 2em;
    color: #585858;
    line-height: 1.3;
  }

}

