@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  font-smoothing: antialiased;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  user-select: none;
  display: block;
  font-size: 16px;
  background: rgb(245, 245, 245);
  color: rgb(77, 77, 77);
}

div#root{
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  >div{
    height: 100%;
    width: 100%;
    position: relative;
    .normal {
      min-height: 90%;
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.page-content-divider {
  position: absolute;
  width: 100%;
  left: 0;
  height: 20px;
  background: white;
  bottom: 0;
  transform: rotate(4deg) scale(1.2,10);
  box-sizing: unset;
}
.page{
  /* min-height: 70%; */
  padding: 2% 10% 2%;
  font-size: 2em;
  /* margin-top: 40%; */
  top: 100%;
  position: relative;
  color: rgb(152, 152, 152);
  text-align: justify;
  background: rgb(255, 255, 255);
}
