@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  font-smoothing: antialiased;
}

body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  user-select: none;
  display: block;
  font-size: 16px;
  background: rgb(245, 245, 245);
  color: rgb(77, 77, 77);
}

div#root{
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  >div{
    height: 100%;
    width: 100%;
    position: relative;
    .normal {
      min-height: 90%;
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.page{
  /* min-height: 70%; */
  padding: 5% 10%;
  font-size: 2em;
  /* margin-top: 40%; */
  width: 70%;
  left: 15%;
  top: 100%;
  position: relative;
  color: #5c6b88;
  text-align: justify;
  background: #f5f5f5;
  font-weight: 100;
  margin-bottom: 5%;
  border-radius: 2px;
  box-shadow: 0 3px 7px 4px rgba(0, 0, 0, 0.32), 0 3px 28px 6px rgba(0, 0, 0, 0.32);
}


.page-background {
  background-image: url(assets/background.jpg);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 175ms cubic-bezier(0, 0, 0.2, 1);
  background-position-y: top;
  .scrolled-down &{
      transform: scale(1.03);
      background-position-y:center;
  }
}
